*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0 !important;
}

@keyframes subnav_effect{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes non_subnav_effect{
    from{
        opacity: 1;
        transform: translateY(0px);
    }
    to{
        opacity: 0;
        transform: translateY(-20px);
    }
}

.nav_link {
    color: #000;
    text-decoration: none;
    font-size: 17px;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.nav_link_btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.heading {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px #eee;
    background: linear-gradient(90deg, #fff, #E06C10);
}

.heading_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.heading_img {
    width: 50px;
}

.heading_title {
    font-size: 20px;
    margin-left: 5px;
}

.avatar {
    position: relative;
}

.user_icon {
    font-size: 20px;
    margin-right: 20px;
    padding: 5px 7px;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
}

.statistical {
    position: relative;
}

.statistical:hover > .statistical_sub{
    display: block;
}

.statistical_sub {
    display: none;
    position: absolute;
    top: 51px;
    left: -120px;
    background-color: #FFCC99;
    border-radius: 4px;
    box-shadow: 0px 5px 12px #eee;
    animation: subnav_effect linear .2s;
    width: 200px;
}

.statistical_sub::before {
    position: absolute;
    top: -20px;
    right: 17px;
    content: "";
    border-bottom: 10px solid #fff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.statistical_sub::after {
    position: absolute;
    content: "";
    width: 126px;
    height: 20px;
    background-color: transparent;
    top: -15px;
}


.statistical_list-item {
    padding: 5px 20px 5px 10px;
    cursor: pointer;
}

.statistical_list-item:hover {
    cursor: pointer;
    background-color: #fff;
    transition: linear .2s;
}

.subnav {
    position: absolute;
    display: none;
    width: 130px;
    right: 0%;
    top: 54px;
    margin-right: 10px;
    background-color: #FFCC99;
    z-index: 1;
    box-shadow: 0px 5px 12px #eee;
    border-radius: 4px;
}

.subnav::before {
    position: absolute;
    top: -20px;
    right: 17px;
    content: "";
    border-bottom: 10px solid #fff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
    margin-top: 100px;
}

.student_table {
    width: 80%;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.subnav_list-item {
    display: flex;
    width: 100%;
    padding: 10px 10px 10px 0px;
    justify-content: space-around;
    align-items: center;
}

.setting {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.logout {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.subnav_list-item:hover {
    cursor: pointer;
    background-color: #fff;
    transition: linear .2s;
}

.nav_link{
    color: #fff;
    padding: 14px 0px;
}

.nav_btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    outline: none;
}

.nav_link:hover, .nav_btn:hover {
    color: #000;
    text-decoration: none;
    transition: linear .2s;
}

.nav_item {
    padding: 14px 10px;
}

.table_title {
    background-color: #FFCC99;
    border: none !important;
}

#overlay1, #overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
}

.active {
    display: block !important;
    animation: subnav_effect linear .2s;
}
