* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 3%;
    left: 30%;
    width: 620px;
    box-shadow: 0px 5px 10px #eee;
    padding: 20px 10px;
    background: linear-gradient(#fff, #F6D6BD);
    border-radius: 4px;
    z-index: 2;
}

.personal_info {
    padding: 0 0 10px 0px;
    border-bottom: 1px dashed #ccc;
}

.name_input {
    width: 400px;
}

#name {
    width: 100%;
    padding: 5px 10px;
}

.sbd_input{
    margin-right: 30px;
}

.form_input {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-check {
    margin-right: 10px;
    float: right;
}

.form-check-input {
    margin-top: 8px;
}

.birthday_input {
    padding: 5px 10px;
}

.email, .address {
    margin-bottom: 10px;
}

.email_input, .address_input {
    width: 100%;
    padding: 5px 10px;
}

.custom-select {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

input {
    border-radius: 6px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
}

input:focus {
    border-bottom: 1px solid #000;
    transition: linear .2s;
}

label {
    display: block;
}

.btn_block {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.reset {
    margin-left: 10px;
}