<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../asset/admin.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../asset/form.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
      rel="stylesheet"
    />
    <title>Quản Lý Điểm Tuyển Sinh Đại Học MVC</title>
  </head>
  <body>
    <div id="overlay1">
      <!-- start form -->
      <div class="container">
        <form>
          <h3 class="personal_info">Thông Tin Cá Nhân</h3>
          <div class="form_input">
            <div class="name_input">
              <label for="name">Họ Tên</label>
              <input type="text" id="name" placeholder="Eg: Nguyễn Văn A" />
            </div>
            <div class="gender">
              <label for="">Giới Tính</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios"
                  id="exampleRadios2"
                  value="option2"
                />
                <label class="form-check-label" for="exampleRadios2">
                  Nữ
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios"
                  id="exampleRadios1"
                  value="option1"
                  checked
                />
                <label class="form-check-label" for="exampleRadios1">
                  Nam
                </label>
              </div>
            </div>
          </div>
          <div class="form_input">
            <div class="sbd_input">
              <label for="sbd">SBD</label>
              <input type="text" id="sbd" />
            </div>
            <div class="folk">
              <label for="folk">Dân Tộc</label>
              <select class="custom-select" id="folk_list">
                <option selected>--Chọn Dân Tộc--</option>
              </select>
            </div>
            <div class="birthday">
              <label for="">Ngày Sinh</label>
              <input type="date" class="birthday_input" style="padding: 0" />
            </div>
          </div>
          <div class="email">
            <label for="email">Email (Nếu có)</label>
            <input
              type="email"
              class="email_input"
              id="email"
              placeholder="Eg: example@gmail.com"
            />
          </div>
          <div class="form_input">
            <div class="cmnd">
              <label for="cmnd">CMND/CCCD</label>
              <input type="text" class="cmnd-input" id="cmnd" />
            </div>
            <div class="phone_number">
              <label for="phone">SĐT</label>
              <input type="text" id="phone" class="phone-input" />
            </div>
          </div>
          <div class="form_input">
            <div class="unit">
              <label for="">Khối Thi</label>
              <select class="custom-select" id="unit_list">
                <option selected>--Chọn Khối Thi--</option>
              </select>
            </div>
            <div class="department">
              <label for="">Ngành</label>
              <select class="custom-select">
                <option selected>--Chọn Ngành--</option>
                <option value="cntt">Công Nghệ Thông Tin</option>
                <option value="ktpm">Kĩ Thuật Phần Mềm</option>
                <option value="httt">Hệ Thống Thông Tin</option>
              </select>
            </div>
            <div class="aria">
              <label for="">Khu Vực</label>
              <select class="custom-select">
                <option selected>--Chọn Khu Vực--</option>
                <option value="a01">Khu Vực 1</option>
                <option value="a00">Khu Vực 2</option>
                <option value="d00">Khu Vực 3</option>
              </select>
            </div>
          </div>
          <div class="address">
            <label for="address">Địa Chỉ</label>
            <input type="text" class="address_input" id="address" />
          </div>
          <div class="btn_block">
            <button class="btn btn-primary add" onclick="off_form()">
              Xác nhận
            </button>
            <button class="btn btn-warning reset">Đặt lại</button>
          </div>
        </form>
      </div>
      <!-- end form -->
    </div>
    <div id="overlay2">
      <div class="container">
        <form>
          <h3
            class="benchmark"
            style="text-align: center; font-size: 22px; margin-bottom: 20px"
          >
            Nhập Điểm Chuẩn
          </h3>
          <div class="form_input" style="justify-content: space-around">
            <div class="department">
              <label for="">Ngành</label>
              <select class="custom-select">
                <option selected>--Chọn Ngành--</option>
                <option value="cntt">Công Nghệ Thông Tin</option>
                <option value="ktpm">Kĩ Thuật Phần Mềm</option>
                <option value="httt">Hệ Thống Thông Tin</option>
              </select>
            </div>
            <div class="unit">
              <label for="">Khối Thi</label>
              <select class="custom-select">
                <option selected>--Chọn Khối Thi--</option>
                <option value="a01">A01</option>
                <option value="a00">A00</option>
                <option value="d00">D00</option>
              </select>
            </div>
          </div>
          <input
            type="number"
            placeholder="Nhập Điểm Chuẩn"
            style="text-align: center; margin-left: 36%"
          />
          <div class="btn_block">
            <button class="btn btn-primary add" onclick="off_benchmark()">
              Xác nhận
            </button>
            <button class="btn btn-warning reset">Đặt lại</button>
          </div>
        </form>
      </div>
    </div>
    <div class="heading">
      <div class="heading_logo">
        <img
          src="../img/istockphoto-1197901679-612x612.jpg"
          class="heading_img"
        />
        <h1 class="heading_title">Quản Lý Điểm Tuyển Sinh Đại Học MVC</h1>
      </div>
      <div class="nav_bar">
        <ul class="nav">
          <li class="nav_item">
            <button class="nav_link nav_link_btn" onclick=on_student_list()>Hồ Sơ Thí Sinh</button>
          </li>
          <li class="nav_item statistical">
            <button class="nav_btn">Thống Kê</button>
            <div class="statistical_sub">
              <ul class="statistical_list">
                <li class="statistical_list-item" onclick="on_benchmark()">
                  Điểm Chuẩn
                </li>
                <li class="statistical_list-item">Thí Sinh Đỗ</li>
                <li class="statistical_list-item">Thí Sinh Trượt</li>
              </ul>
            </div>
          </li>
          <li class="nav_item">
            <a href="../view/user.html" class="nav_link">Tra Cứu Điểm</a>
          </li>
          <li class="nav_item">
            <button class="nav_link nav_link_btn" onclick=on_mark_list()>Danh Sách Điểm</button>
          </li>
        </ul>
        <div class="avatar" id="avatar">
          <i class="far fa-user user_icon"></i>
        </div>
        <div class="subnav" id="subnav">
          <ul class="subnav_list">
            <li class="subnav_list-item setting">
              <img
                src="./img/setting.png"
                class="setting-icon"
                style="width: 20px"
              />
              Cài đặt
            </li>
            <li class="subnav_list-item logout">
              <a
                href="../index.html"
                style="color: #000; text-decoration: none"
              >
                <img
                  src="./img/logout.png"
                  class="logout-icon"
                  style="width: 20px"
                />
                Đăng xuất
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <button class="btn btn-primary add" onclick="on_form()">
        <i class="fas fa-plus-circle"></i> Thêm Hồ Sơ
      </button>
      <table class="student_table table table-bordered" id="student_table"></table>
    </div>
    <script type="text/javascript" src="../asset/admin.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/54f5e9521f.js"
      crossorigin="anonymous"
    ></script>
    <script src="../asset/form.js"></script>
    <script src="../asset/hssv.js"></script>
  </body>
</html>
